{% extends 'navigationbar.html' %}
{% load static %}
{% block body  %}
<div class="container" style="margin-top:50px">
<h2 class="text-center">Contact us</h2>
<br><br>
<div class="row mt-5 text-center ">
    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4></i>Contact</h4>
        <p class="mt-3 font-weight-bold text-danger"><a href="tel:+91 7995377401">+91 7995377401</a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4></i>Mail Us</h4>
        <p class="mt-3 font-weight-bold"><a href="mailto:manojbandari76@gmail.com">manojbandari76@gmail.com</a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4></i>Office Address</h4>
        <p class="mt-3 font-weight-bold text-danger"><a href="http://maps.google.com/maps?q=KPHBcolony+Hyderabad">Adagutta, KPHB Colony, Hyderabad</a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4></i>Timings</h4>
        <p class="mt-3 font-weight-bold text-danger"><a href="">9:00 AM t0 11:00 PM</a></p>
    </div>
</div>
</div>
{% endblock  %}